.controller.ds4.white {
    background-image: url(https://souldameep.github.io/Controller-Overlays/);
}

.ds4.white.disconnected {
    background: url(ps4-assets/disconnected.svg);
}

.ds4.white .trigger {
    background-image: url(https://imgur.com/b4jYUnU.png);
}

.ds4.white .bumper {
    background-image: url(https://imgur.com/jt1vFCX.png);
}

.ds4.white .touchpad.pressed {
    background-image: url(ps4-white-assets/touchpad.svg);
}

.ds4.white .back, .ds4 .start {
    background-image: url(https://imgur.com/q9qd8PT.png);
}

.ds4.white .button {
    background-image: url(https://imgur.com/J8GYEzr.png);
}

.ds4.white .stick {
    background-image: url(https://imgur.com/cIZ2YqY.png);
}

.ds4.white .face {
    background-image: url(https://imgur.com/qz6qECL.png);
}

/*END PS4 White Controller Styling*/